@import './base/normes';
@import './utils/mixins';
@import './utils/variables';
@import './layouts/header';

@import './pages/error';
@import './pages/home';
@import './pages/employeesList';
@import './components/employeeTable';

*, *::before, *::after{
    box-sizing: border-box;
}
p{
    margin-bottom: 0.25rem;
}

h1{
    line-height: 7.2rem;
    font-size: 2rem;
   
    @include respond-to($breakpoint-xxl){

    }
}
main{
    height: 700px;
    background-color: $color-primary-complement;
    position: relative;
}