@import './base/normes';
@import './utils/mixins';
@import './utils/variables';
@import './layouts/header';

@import './pages/error';
@import './pages/home';
@import './pages/employeesList';
@import './components/employeeTable';

*, *::before, *::after{
    box-sizing: border-box;
}
p{
    margin-top: -1.35rem !important;
    margin-bottom: 0.25rem;
}

h1{
    line-height: 9.2rem;
    font-size: 28px;
    @include respond-to($breakpoint-xxl){
        font-size: 36px;
    }
}
