@import '../utils/mixins';
.gradient-background_employeeList{
    background: $background-image-bottom-6;
    background-size: cover;
    background-position: bottom;
    background-color: $color-primary-complement
 }

