@import '../utils/mixins';

.title-error{
  margin-top: 2rem;
  line-height: 2.2rem;
  text-align: center;
}
.text-error{
  text-align: center;

}


.custom-btn-error{
  background-color: $color-primary;
  text-align: center;
  color: white; 
}
