@import '../utils/mixins';
@import '../utils/variables';

.cover{
    transform: translateY(-71px);
    text-align: center;
}

.gradient-background {
    background: $background-image-bottom-6;
    background-repeat: no-repeat;
    background-color: $color-primary-complement;
}


.display-block{
    display: block !important;
}

h1{
    font-size: 28px;
}