@import '../utils/mixins';
@import '../utils/variables';





.cover{
    transform: translateY(-71px);
    text-align: center;
}

.gradient-background {
   background: $background-image-bottom;
   background-size: cover;
   background-position: center;
   background-color: $color-primary-complement;
}


.display-block{
    display: block !important;
}

