@import '../utils/mixins';
@import '../utils/variables';

.cover{
    transform: translateY(-71px);
    text-align: center;
}

.gradient-background {
    background-repeat: no-repeat;
    background-color: $color-primary-complement;
    background-size: cover;
}


.display-block{
    display: block !important;
}

