@import '../utils/mixins';


form#create-employee{
    width: 100%;
    @include respond-to($breakpoint-md) {
      width: 50%; 
    }
    z-index: 0;
  }
  
  .form-control{
      border-radius: 5px;
      border: 1px solid $color-primary;
      box-sizing: border-box;
    
  }

  .inputStyle{
    border-radius: 5px;
    border: 1px solid $color-primary;
}

.custom-btn{
    background-color: $color-tertiary;
    text-align: center;
    color: white;
    font-size: 1rem;
}
.custom-btn:hover{
    background-color: $color-secondary;
}
.custom-bg{
    background-color: $color-primary;
    border-radius: 5px;
}

.calendar-icon{
    font-size: 1rem;
    color: black;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 40px;
    left: 80%;
    cursor: pointer;
}
.input-container{
    display: inline;
}
.input-date:focus-visible {
    outline:inherit;
}
.custom-input-class{
    font-size: 1rem;
    padding: 6px 8px;
    
}

fieldset{
    position: relative;
    z-index: 1;
}
.custom-month-select-style, .custom-year-select-style{
    font-size: 1rem;
    color: white;
    background-color: $color-primary;
    height: 30px;
    font-weight: 500;
    padding: 0 10px;
    text-align: center;
}

.custom-button-style{
    background: $color-primary;
}
.custom-button-style:hover{
    background: $color-secondary;
}

.custom-calendar-style{
    width: 346px;
    height: 200px;
    z-index: 3;
    position: absolute;
    top: 340px;
    --border-radius: 5px;
    --accent-br: 5px;
    // --side-padding: 10px 20px;
}
.custom-date-style.selected::before{
    background-color: $color-primary;
}

.custom-date-style.selected {
    color: white;
  }
.custom-date-style {
    color: black;
  }