
@import './variables';

// COLORS
$color-primary : #596F07;
$color-secondary : #C4D680;
$color-tertiary : #93ad18;
$color-primary-complement : #ded5bd3b;

// GRADIENT
$background-gradient-bottom: linear-gradient(to bottom, $color-primary, $color-secondary, $color-tertiary);


// IMAGES BACKGROUND
$background-image-top : url(../../../assets/wave.png);
$background-image-bottom : url(../../../assets/wave-bottom.svg);
$background-image-bottom_2: url(../../../assets/wave-bottom-2.svg);
$background-image-bottom_3: url(../../../assets/wave-bottom-3.svg);
$background-image-bottom_4: url(../../../assets/wave-bottom-4.svg);
$background-image-bottom_5: url(../../../assets/wave-bottom-5.svg);
$background-image-bottom_6: url(../../../assets/wave.svg);




/* Mixin pour les media queries */
@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }