
@import './variables';

// COLORS
$color-primary : #596F07;
$color-secondary : #C4D680;
$color-tertiary : #93ad18;
$color-primary-complement : #ded5bd3b;


// GRADIENT
$background-gradient-bottom: linear-gradient(to bottom, $color-primary, $color-secondary, $color-tertiary);
$background-white: white;

// IMAGES BACKGROUND
$background-image-bottom_6: url(../../../assets/wave.png);




/* Mixin pour les media queries */
@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }

@mixin max-width($breakpoint) {
  @media screen and (max-width: $breakpoint) {
      @content;
    }
  }